* {
    box-sizing: border-box;
    font-family: monospace;
  }

 body {
    margin: 0;
    
 } 

h1 {
    

}

ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: flex-start;
    margin-left: -35px; 
    margin-top: 5px;
    font-weight:bold;
    color: whitesmoke;
}

li {
    margin-right: 10px;
}

p {
    margin:0;
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
}

header {
    min-height: 250px;
    background-image: url(assets/background.jpg);
    display: flex;
    color: blanchedalmond;
    margin-top: 0px;
    min-height: 250px;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

nav {
    background-color: #94bdb4;
    margin: 0px;
}

main {
    line-height: 1.5em;
    text-align: justify;
    margin: 0 auto;
    max-width: 65ch;
}

div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
    height: auto;
}

article {
    text-align: center;
    width: 45%;
    height: 25%;
    margin: 10px auto;
    height:auto;
    border: solid;
    border-radius: 7px;
    box-shadow: 1.5px 1.5px 1.5px 1.5px;
}

.footer {
    font-size: 16px;
    color: whitesmoke;
    background-color:#94bdb4;
}